.user-joke-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  font-weight: bold;
  border: 2px solid #333333;
  color: #333333;
  transition: 0.3s;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 75vw;
}

.user-joke-part-container {
  display: flex;
  flex-grow: 4;
  margin-left: 1rem;
  height: inherit /2;
}

.user-joke-text-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 4;
}

.user-joke-label-container {
  flex-grow: 4;
  margin-left: 1rem;
}

.user-joke-label {
  width: 8rem;
  line-height: 1;
}

.user-joke-type-container {
  width: 6rem;
  padding-right: 1rem;
}

.user-joke-text {
  font-size: medium;
}

.user-joke-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.user-joke-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  height: auto;
}

.user-joke-button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}


