.joke-container {
  box-shadow: 5px 5px 0px 0px rgb(177, 177, 177);
  background-color: #ffffff;
  font-weight: bold;
  border: 2px solid #333333;
  color: #333333;
  transition: 0.3s;
  padding: 2px 3px;
  height: fit-content;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.jokeAuthor {
  width: auto;
  left: 10px;
  bottom: 5px;
  padding-top: 1rem;
  align-self: flex-start;
  font-style: italic;
}

.like-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  width: inherit;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.like-button-off {
  height: 30px;
  color: green;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-top: 30px;
}

.like-button-on {
  height: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: bold;
  border: 2px solid #a0a0a0;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgb(158, 158, 158);
  background-color: rgba(51, 51, 51, 1);
  margin-bottom: 10px;
  margin-top: 30px;
}

.like-button-off:hover {
  box-shadow: 0 0 #333;
  color: green;
  background-color: #333;
}

.like-button-on:hover {
  box-shadow: 0 0 #9a9a9a;
  color: #333;
  background-color: #9a9a9a;
}

.blured-punchline{
  filter: blur(5px);
}

.punchline {
  color: rgb(141, 1, 1);
  font-size: x-large;
}

.login-request{
  font-style: italic;
  opacity: 0.5;
  margin-top: 5vh;
}