.newJokeForm {
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}

.newJokeInput {
  width: 80vw;
  height: 30px;
}

.jokeBox {
  background-color: skyblue;
  border-color: midnightblue;
  border: 5px;
  border-width: 5px;
  border-radius: 10px;
}

.dropdown {
  width: 80vw;
  height: 30px;
}

.button {
  
}