.user-joke-feed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-joke-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-joke-head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(230, 150, 0);
  font-weight: bold;
  border: 2px solid #333333;
  color: #333333;
  transition: 0.3s;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 75vw;
  font-family: Impact, Haettenschweiler;
  font-size: x-large;
  font-style: italic;
  color: #333333;
}

.user-joke-add-button {
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  height: 3rem;
  align-self: flex-start;
  left: 1.5rem;
  top: 9.4rem;
  width: 4rem;
}

.user-joke-add-button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}