.profile-page-title {
  margin: 1rem;
  font-family: Impact;
  font-size: xx-large;
  font-weight: 300;
  font-stretch: extra-expanded;
  color: rgb(214, 139, 0);
  text-shadow: 1px 1px 0px #616161bd ;
}

.profile-head-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 60vw;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 10px 5px 0px 0px rgb(119, 119, 119);
  background-color: #ffffff;
}

.user-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Impact, Haettenschweiler;
  font-size: larger;
  margin-bottom: 1rem;
  font-weight: 100;
}

.user-info-label {
  width: 10rem;
  padding-left: 1rem;
}

.user-info-content {
  flex-grow: 4;
  padding-left: 3rem;
  font-family: sans-serif;
}

.user-profile-button-container {
  align-self: flex-end;
  display: flex;
  margin: 1rem 1rem;
}

.user-profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
}

.user-profile-button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}