.joke-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 150, 0);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 700px;
}

.joketype-title {
  margin-right: 17rem;
  font-weight: 300;
  font-size: x-large;
  font-family: Impact, Haettenschweiler;
  font-style: italic;
}