.sign-button {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
  margin: 3px;
  width: 10vw;
  font-family: Impact, Haettenschweiler;
}

.sign-button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
  margin: 3px;
  width: 10vw;
  font-family: Impact, Haettenschweiler;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-title {
  margin: 30px;
  font-size: xx-large;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-family:Impact, Haettenschweiler
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 30vw;
}

.sign-input-box {
  flex-shrink: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.sign-label {
  margin-right: 5px;
  font-family:Impact, Haettenschweiler;
}

.input-feedback {
  color: rgb(255, 0, 0);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}