.newJokeForm {
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}

.newJokeInput {
  width: 80vw;
  height: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  align-self: center;
}

.jokeBox {
  width: 80vw;
  background-color: skyblue;
  border-color: midnightblue;
  border: 5px;
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  align-self: center;
  display: flex;
  flex-direction: column;
  
}

.dropdown {
  width: 80vw;
  height: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  align-self: center;
}

.button {
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin: 10px;
}