.header-box {
  height: 100px;
  margin-bottom: 50px;
  width: 100vw;
  background-color: rgb(83, 83, 83);

  display: grid;
  grid-template-areas: "a b c d f g h i j";

}

.home-button {
  height: auto;
  grid-area: a;
}

.random-joke-button {
  height: auto;
  grid-area: f;
}

.login-button {
  height: 75px;
  grid-area: j;
}

.logout-button {
  height: auto;
  flex: auto;
}

.myjokes-button {
  height: auto;
  flex: auto;
}

.profile {
  height: auto;
  flex: auto;
}

.user-buttons {
  grid-area: j;
  display: flex;
  flex-direction: column;
  max-height: 100px;
}